html, body, header {
    
    height: 100%;
}

header {
    width: 100%;
    background-color: lightslategrey;
    color: white;
    text-align: center;
    
}

.full_height {
    padding: 300px;
    height: 100%;
}

body {
    text-align: left;
    
}

.center_column {
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    display: block;
    width: 30%;
    
}

.header_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 68px;
    padding: 25px;
}

.header_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.header_socials {
    padding: 10px;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
}
