body, header {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    margin: 0;
}

header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: lightslategrey;
    color: white;
    text-align: center;
}

footer {
    margin: 0;
    height: auto;
    position: relative;
    display: block;
    text-align: center;
}


body {
    text-align: left;
}

.center_column {
    color: black;
    padding: 20px;
    margin: auto;
    width: 30%;
}

.header_title {
    padding-top: 300px;
    padding-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 68px;
}

.header_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.header_socials {
    padding: 10px;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
}
