html {
    scroll-behavior: smooth;
    scrollbar-color: #8a8a8a white;
    scrollbar-width: thin;
}

body, header, footer {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #eceff4;
}

header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    font-size: 90px;
    color: black;
    text-align: left;
    margin-left: 10vw;
    padding-top: 10vh;
    max-width: 700px;
}

footer {
    padding-top: 80px;
    color: #bfc4cc;
    height: auto;
    font-size: 15px;
    text-align: center;
}


body {
    font-family: 'Open Sans', sans-serif;
    color: #2e3440;
}

.socials {
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkgrey;
}
